@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=29b54811-8c0f-4d58-b803-ca55412dde4d&fontids=1366498");
@font-face{
  font-family:"DIN";
  src:url("../fonts/1366498/a5d0ee60-fef0-46a2-b1c3-20f3da7458fb.eot?#iefix");
  src:url("../fonts/1366498/a5d0ee60-fef0-46a2-b1c3-20f3da7458fb.eot?#iefix") format("eot"),url("../fonts/1366498/8a8cdd2c-f804-4d1d-aa35-c557e8417ae3.woff2") format("woff2"),url("../fonts/1366498/5685c88a-f733-4ca2-8572-0a981286299a.woff") format("woff"),url("../fonts/1366498/36d99f1c-6fba-4ef8-9aab-d7d844550472.ttf") format("truetype"),url("../fonts/1366498/4f043722-a600-49ca-aa7b-debda98753a1.svg#4f043722-a600-49ca-aa7b-debda98753a1") format("svg");
}
